.country-list-container{

  display: inline-flex;
  flex-direction: column;
  gap: 10px;

  .country-list {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    background-color: lightgray;
  }
}
