.battleContainer {
  display: inline-flex;
  gap: 10px;
  flex-direction: column;

  .battleTitle {
    display: flex;
    justify-content: center;
  }

  .battleUsersContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
    padding: 10px;
  }
}