.title {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.dashboard {
  display: flex;
  padding: 10px;
  gap: 10px;

  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 5px;

    .column_title {
      display: flex;
      justify-content: center;
    }

    .task {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      background-color: white;
      border-radius: 5px;

      .button_container {
        display: flex;
        gap: 10px;

        button {
          height: 25px;
          width: 100px;
        }

      }
    }
  }
}